/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

html, body {
  overflow-y: auto;
}
body.ajax-loading,
body.ajax-loading * {
  cursor: wait !important;
}

.v-file-upload hr {
  width: 100px !important;
}


hr:not(.v-divider) {
  margin: 0.5rem 0 1rem 0;
  color: rgba(0, 0, 0, 0.1) !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}