/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

html.v-overlay-scroll-blocked {
  position: static !important;
}
html {
  overflow-y: scroll !important;
}
.v-toolbar__content {
  height: 4rem !important;
}
body.ajax-loading,
body.ajax-loading * {
  cursor: wait !important;
}

.v-file-upload hr {
  width: 100px !important;
}

hr:not(.v-divider) {
  margin: 0.5rem 0 1rem 0;
  color: rgba(0, 0, 0, 0.1) !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.spin {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
