name: Deploy DEV to host

on:
  push:
    branches:
      - dev

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '>=18'

      - name: Defining environment variables
        run: |
          echo "VITE_SERVER_URL=https://server.dev.json.ms" > .env
          echo "VITE_DEMO_PREVIEW_URL=https://demo.dev.json.ms" >> .env

      - name: Install dependencies
        run: yarn

      - name: Build project
        run: yarn build-only

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./dist/
          server-dir: ${{ secrets.FTP_WWW_DEV_PATH }}
          protocol: ftps

